@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
    vertical-align: baseline;
    box-sizing: border-box;
    font-weight: inherit;
    font-family: inherit;
    font-style: inherit;
    font-size: 100%;
    border: 0 none;
    outline: 0;
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.box {
    font-size: 5rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.box:hover {
    color: #00b8ff;
    font-size: 7.5rem;
}